<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlN9PeWxMYgfK7q83lNfr_4RuASNxnAgk</string>
	<key>GCM_SENDER_ID</key>
	<string>882694316495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gastroNav</string>
	<key>PROJECT_ID</key>
	<string>gastronav-oua</string>
	<key>STORAGE_BUCKET</key>
	<string>gastronav-oua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882694316495:ios:79731469dafc0896b9b2ba</string>
</dict>
</plist>